/* mobile
================================================ */

@media screen and (max-width: 1000px) {

.sns-list i {
        font-size: 1.5rem;
        color: #fff;
        background-color: #444444;
        padding: 1rem;
        border-radius: 20px;
        margin-right: 10px;
        margin-top: 4rem;
    }

}

@media screen and (max-width: 480px) {

    /* Layout 
        ==================================================== */
        .wrapper {
            width: 80%;
        }
    
    
        /* CONTENT
        ====================================== */
    
        .icon {
            display: block;
            width: 80%;
            border-radius: 50%;
            padding: 1em;
            margin: 0 auto;
        }
    
    
        .name {
            font-size: 1rem;
            text-align: center;
        }
    
        .sns-list i {
            font-size: 1rem;
            color: #fff;
            background-color: #444444;
            padding: .5rem;
            border-radius: 20px;
            margin-right: 10px;
        }
    
        .text {
            font-size: .5rem;
        }

}
  